
//pagina about us
.about_us {
    //aqui precisamos de um espaço maior depois do título
    @include generic;
    color: white;

    min-height: 100vh;
    background-color: $background-color; // bg-neutral-900

    img {
        width: 12rem; // w-48
        height: auto; // h-auto
        border-radius: 1rem; // rounded-lg
        transition: all 150ms ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    h1 {
        // espaçamento entre título e imagens
        margin-bottom: 5rem;
    }

    &_container {
        // as imagens estão uma por coluna
        @include generic($justify: center);
        color: white;

        //width: 80%;
        //max-width: 900px; // max-w-6xl

        a {
            @include generic($justify: center);
            color: white;

            margin-bottom: 3rem;
        }

        @media (min-width: $main-changing-point) {
            // as imagens estão uma por linha (desktop)
            @include generic($direction: row, $gap: 7rem);
            color: white;
        }
    }
}
