// Página about_us

.about_us {
    @include generic;
    color: white;
    min-height: 100vh;
    background-color: $background-color; // bg-neutral-900

    // Estilo das imagens
    img {
        width: 12rem;
        height: auto;
        border-radius: 1rem;
        transition: all 150ms ease-in-out;

        // Efeito hover
        &:hover {
            opacity: 0.8;
        }
    }

    // Espaçamento do título principal
    h1 {
        margin-bottom: 5rem;
    }

    // Conjunto das imagens
    &_container {
        // as imagens estão uma por coluna
        @include generic($justify: center);
        color: white;

        // Estilo para os Links
        a {
            @include generic($justify: center);
            color: white;
            margin-bottom: 3rem;
        }

        // Estilo para desktop (layout em linha)
        @media (min-width: $main-changing-point) {
            @include generic($direction: row, $gap: 7rem);
        }
    }
}
