@import "tailwindcss";

//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------
:root {
  --background: #ffffff;
  --foreground: #171717;

  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

//--------------------------------------------------------------
// Global styles
//--------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

#main {
  margin-top: 90px;
}