@import "tailwindcss";

@mixin disposition ($direction: row, $gap: 0, $justify: null) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    gap: $gap;
    justify-content: $justify;
}

// Aplica-se a TODOS os elementos
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Dentro do body define: cor de fundo, cor do texto, fonte e centralização de conteúdo
body {
    justify-content: center;
    align-items: center;
    background: black;
    color: white;

    // Sem scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
}

// define o estilo da homepage
.homepage {
    color: #ffffff;
    @include disposition(column, 10px, center);
}

// define o estilo da barra de navegação
nav {
    color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    @include disposition(row, 0, space-between);
}

// define o estilo das páginas pessoais
.personal-page {
    min-height: 100vh;
    color: white;
    @include disposition(column, 40px, null);
}

// define o estilo dos títulos h1
h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 40px;
}

// afeta elementos com id main (not sure what that means), mas adiciona-lhes espaço no topo
#main {
    margin-top: 90px;
}

// define o estilo dos parágrafos
p {
    margin-top: 5px;
    margin-bottom: 5px;

    &.homepageP {
      text-align: center;
    }
}

// Define o estilo do menu; usado no componente Menu.jsx para as páginas pessoais
.menu {
    position: relative;
    width: 400px;
    height: 59px;
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 40px;
    @include disposition(null, null, space-around);

    a {
        position: relative;
        z-index: 1;
        text-align: center;
        display: inline-block;
        font-size: 1em;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(45deg, #317094, #2a54a3);
        border-radius: 8px;
        transition: .5s;
    }

    a.active~span {
        left: 0;
        /* se o primeiro link estiver ativo */
    }

    a:nth-child(2).active~span {
        left: 50%;
        /* se o segundo link estiver ativo */
    }

    a:nth-child(1):hover~span {
        left: 0%;
    }

    a:nth-child(2):hover~span {
        left: 50%;
    }
}


// Define o estilo dos botões
/* .btn {
    padding: 0.75rem 1.75rem;
    border-radius: 0.75rem;
    font-weight: 600;
    background-color: #374151;
    color: white;
    transition: all 0.2s ease;

    &:hover {
        background-color: #4b5563;
    }

    &-active {
        background-color: #3b82f6;
    }

    &-inactive {
        background-color: #374151;
    }
} */