@import "tailwindcss";

@mixin disposition ($direction: row, $gap: 0, $justify: null) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    gap: $gap;
    justify-content: $justify;
}

// Aplica-se a TODOS os elementos
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Dentro do body define: cor de fundo, cor do texto, fonte e centralização de conteúdo
body {
    justify-content: center;
    align-items: center;
    background: black;
    color: white;

    //@include disposition(null, null, center);

    // Sem scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
}

// define o estilo da homepage
.homepage {
    color: #ffffff;
    @include disposition(column, 10px, center);

    //mobile: imagem no fundo com o resto do centeúdo por cima
    //desktop: imagem à esquerda conteúdo à direita
}

// define o estilo da barra de navegação
nav {
    color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    @include disposition(row, 0, space-between);
}

// define o estilo das páginas pessoais
.personal-page {
    min-height: 100vh;
    color: white;
    @include disposition(column, 40px, null);
}

// define o estilo do layout das páginas pessoais
.personal-card {
    background-color: #222;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    width: 95%;
    max-width: 900px;
    display: flex;
    padding: 1rem;
    @include disposition(column, 3rem, center);

    @media (min-width: 768px) {
        flex-direction: row; // desktop
    }

    &__img {
        width: 15rem;
        height: auto;
        border-radius: 1rem;
        object-fit: cover;

        @media (min-width: 768px) {
            width: 30rem;
        }
    }

    &__content {
        width: 100%;
    }
}


//pagina about us




// define o estilo dos títulos h1
h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 40px;

    &.about_us{
        font-size: 2.5rem; 
        font-weight: 700; 
    }
}

// afeta elementos com id main (not sure what that means), mas adiciona-lhes espaço no topo
#main {
    margin-top: 90px;
}

// define o estilo dos parágrafos
p {
    margin-top: 5px;
    margin-bottom: 5px;

    &.homepageP {
        text-align: center;
    }
}

// Define o estilo do menu; usado no componente Menu.jsx para as páginas pessoais
.menu {
    position: relative;
    width: 400px;
    height: 59px;
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 40px;
    @include disposition(null, null, space-around);

    a {
        position: relative;
        z-index: 1;     //define a posição do elemento em relação aos restantes: à frente ou atrás deles (negativo fica atrás)
        text-align: center;
        display: inline-block;
        font-size: 1em;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(45deg, #317094, #2a54a3);
        border-radius: 8px;
        transition: .5s;
    }

    a.active~span {
        left: 0;
        /* se o primeiro link estiver ativo */
    }

    a:nth-child(2).active~span {
        left: 50%;
        /* se o segundo link estiver ativo */
    }

    a:nth-child(1):hover~span {
        left: 0%;
    }

    a:nth-child(2):hover~span {
        left: 50%;
    }
}

