@import "tailwindcss";

$background-color: #171717; // bg-neutral-900
$secondary-color: #222; //cor de fundo do botão e do card
$changing-point: 768px;

@mixin generic($display: flex, $direction: column, $gap: 0, $justify: null) {
    display: $display;
    align-items: center;
    flex-direction: $direction;
    gap: $gap;
    justify-content: $justify;
}

// Aplica-se a TODOS os elementos
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Dentro do body define: cor de fundo, cor do texto, fonte e centralização de conteúdo
body {
    background: $background-color;
    @include generic(null, null, 0, center);

    // Sem scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
}

// define o estilo da barra de navegação
nav {
    padding: 12px;
    @include generic($direction: row, $justify: space-between);
    color: white;
    background-color: $background-color;
    margin-bottom: 3rem;
}

// define o estilo dos títulos h1
h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700; // bold
    margin-bottom: 0.5rem;
}

// define o estilo dos parágrafos
p {
    margin-top: 5px;
    margin-bottom: 5px;
}

// afeta elementos com id main (not sure what that means), mas adiciona-lhes espaço no topo
#main {
    margin-top: 90px;
}

// define o estilo da homepage
.homepage {
    background-color: black;
    @include generic($gap: 10px, $justify: center);
    color: white;

    p {
        text-align: center;
    }

    /*@media (min-width: $changing-point) {
    } */

    //mobile: imagem no fundo com o resto do conteúdo por cima??
    //desktop: imagem à esquerda (a ocupar a altura completamente, sem scroll possível), conteúdo à direita
}

//pagina about us
.about_us {
    //aqui precisamos de um espaço maior depois do título
    @include generic;
    color: white;

    min-height: 100vh;
    background-color: $background-color; // bg-neutral-900

    img {
        width: 12rem; // w-48
        height: auto; // h-auto
        border-radius: 1rem; // rounded-lg
        transition: all 150ms ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    h1 {
        // espaçamento entre título e imagens
        margin-bottom: 5rem;
    }

    &_container {
        // as imagens estão uma por coluna
        @include generic($justify: center);
        color: white;

        //width: 80%;
        //max-width: 900px; // max-w-6xl

        a {
            @include generic($justify: center);
            color: white;

            margin-bottom: 3rem;
        }

        @media (min-width: $changing-point) {
            // as imagens estão uma por linha (desktop)
            @include generic($direction: row, $gap: 7rem);
            color: white;
        }
    }
}

// define o estilo das páginas pessoais
.personal-page {
    min-height: 100vh;
    background-color: $background-color;
    @include generic; //o espaço entre os h1 e os restantes elementos vem de margin-top e margin-bottom
    color: white;

    &_content {
        @include generic;
        color: white;

        // define o estilo do layout das páginas pessoais
        // usamos rem para ser consistente entre todas as páginas, e não depender das suas definições "pessoais"
        &_card {
            background-color: $secondary-color;
            border-radius: 1rem;
            box-shadow: 0 10px 25px #00000066;
            width: 95%;
            max-width: 900px; // mesmo tentanto ocupar 95%, nunca pode ser maior que 900px (para não ficar enorme em desktop)
            padding: 1rem;
            @include generic($gap: 3rem);
            color: white;

            @media (min-width: $changing-point) {
                flex-direction: row; // desktop
            }

            img {
                width: 15rem;
                height: auto;
                border-radius: 1rem;
                object-fit: cover;

                // desktop
                @media (min-width: $changing-point) {
                    width: 25rem;
                }
            }

            &_text {
                width: 100%;
            }
        }
    }
}

// Define o estilo do menu; usado no componente Menu.jsx para as páginas pessoais
.menu {
    position: relative;
    width: 350px;
    height: 59px;
    max-width: 95%;
    background-color: $secondary-color;
    border-radius: 8px;
    overflow: hidden;
    @include generic($direction: null, $justify: space-around);
    color: white;

    a {
        position: relative;
        z-index: 1; //define a posição do elemento em relação aos restantes: à frente ou atrás deles (negativo fica atrás)
        text-align: center;
        display: inline-block;
        font-size: 1em;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(45deg, #317094, #2a54a3);
        border-radius: 8px;
        transition: 0.5s;
    }

    a.active ~ span {
        left: 0;
        /* se o primeiro link estiver ativo */
    }

    a:nth-child(2).active ~ span {
        left: 50%;
        /* se o segundo link estiver ativo */
    }

    a:nth-child(1):hover ~ span {
        left: 0%;
    }

    a:nth-child(2):hover ~ span {
        left: 50%;
    }
}
