// Homepage

// Esta página tem mais pontos de mudança devido à sua estrutura
$large-changing-point: 1024px;
$small-changing-point: 640px;

.homepage {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-height: 100vh;

    // Em desktop temos uma disposição diferente
    @media (min-width: $large-changing-point) {
        flex-direction: row;
    }

    p {
        text-align: center;
    }

    // Logo no canto superior direito
    .logo {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 20;

        // Tamanho da logo para ecrãs pequenos
        width: 4rem;
        height: 2rem;

        img {
            object-fit: contain;
        }

        @media (min-width: $main-changing-point) {
            // Tamanho da logo para ecrãs médios
            width: 5rem;
            height: 2.5rem;
        }
        @media (min-width: $large-changing-point) {
            // Tamanho da logo para ecrãs grandes
            width: 6rem;
            height: 3rem;
        }
    }

    // Conjunto do texto
    .text-container {
        text-align: center;
        max-width: 90%;
        color: white;

        // Título principal
        .title {
            color: white;
            line-height: 1.2;
            font-size: 1.875rem;

            @media (min-width: $small-changing-point) {
                font-size: 3rem;
            }
            @media (min-width: $main-changing-point) {
                font-size: 3.25rem;
            }
            @media (min-width: $large-changing-point) {
                font-size: 4rem;
            }
        }

        // Texto
        .subtitle {
            margin-top: 0.5rem;
            font-size: 1rem;

            @media (min-width: $small-changing-point) {
                font-size: 1.125rem;
            }
            @media (min-width: $main-changing-point) {
                font-size: 1.25rem;
            }
            @media (min-width: $large-changing-point) {
                font-size: 1.5rem;
            }
        }
    }

    // Imagem de fundo para ecrãs menores
    .mobile-background {
        position: fixed;
        inset: 0; // top, bottom, left e right todos a 0
        z-index: 0;

        img {
            object-fit: cover;
            filter: brightness(20%); // escurece a imagem para melhor contraste
        }

        @media (min-width: $large-changing-point) {
            // Esconde imagem de fundo no desktop
            display: none;
        }
    }

    // =========== Desktop ===========
    // Imagem à esquerda
    .left-image {
        display: none; // default: escondido em mobile

        @media (min-width: $large-changing-point) {
            // desktop
            display: block;
            width: 40%;
            height: 100vh;
            position: relative;

            img {
                object-fit: cover;
                filter: brightness(90%);
            }
        }
    }

    // Restante do conteúdo à direita
    .right-content {
        z-index: 20;
        @include generic($justify: center, $gap: 3rem);

        @media (min-width: 1024px) {
            width: 60%;
            background-color: transparent;
        }
    }
}
