// define o estilo da homepage

//devido ao layout da homepage, esta tem mais pontos de mudança do que as restantes páginas
$large-changing-point: 1024px;
$small-changing-point: 640px;

.homepage {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    color: white;
    min-height: 100vh;

    @media (min-width: $large-changing-point) {
        // para ecrãs maiores, a imagem não ocupa o fundo
        flex-direction: row;
    }

    p {
        text-align: center;
    }

    .logo {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 20;

        // ecrãs pequenos
        width: 4rem;
        height: 2rem;

        img {
            object-fit: contain;
        }

        @media (min-width: $main-changing-point) {
            //ecrãs médios
            width: 5rem;
            height: 2.5rem;
        }
        @media (min-width: $large-changing-point) {
            // ecrãs grandes
            width: 6rem;
            height: 3rem;
        }
    }

    .mobile-background {
        position: fixed;
        inset: 0; // top, bottom, left e right todos a 0
        z-index: 0;

        img {
            // em mobile, a imagem de fundo é escurecida e ocupa todo o ecrã
            object-fit: cover;
            filter: brightness(20%);
        }

        @media (min-width: $large-changing-point) {
            // para ecrãs maiores, a imagem não ocupa o fundo
            display: none;
        }
    }

    .left-image {
        display: none; // por default não aparece (fazemos mobile como default, por ser mais restritivo)

        @media (min-width: $large-changing-point) {
            // desktop
            display: block;
            width: 40%;
            height: 100vh;
            position: relative;

            img {
                object-fit: cover;
                filter: brightness(90%);
            }
        }
    }

    .right-content {
        z-index: 20;
        @include generic($justify: center, $gap:3rem);

        @media (min-width: 1024px) {
            width: 60%;
            background-color: transparent;
        }
    }

    .text-container {
        text-align: center;
        max-width: 95%;
        color: white;

        .title {
            color: white;
            line-height: 1.2;
            font-size: 1.875rem;

            @media (min-width: $small-changing-point) {
                font-size: 3rem;
            }
            @media (min-width: $main-changing-point) {
                font-size: 3.25rem;
            }
            @media (min-width: $large-changing-point) {
                font-size: 4rem;
            }
        }

        .subtitle {
            margin-top: 0.5rem;
            font-size: 1rem;

            @media (min-width: $small-changing-point) {
                font-size: 1.125rem;
            }
            @media (min-width: $main-changing-point) {
                font-size: 1.25rem;
            }
            @media (min-width: $large-changing-point) {
                font-size: 1.5rem;
            }
        }

        .button-container {
            padding-top: 1rem;
        }
    }
}
