
// define o estilo das páginas pessoais
.personal-page {
    min-height: 100vh;
    background-color: $background-color;
    @include generic; //o espaço entre os h1 e os restantes elementos vem de margin-top e margin-bottom
    color: white;

    &_content {
        @include generic;
        color: white;

        // define o estilo do layout das páginas pessoais
        // usamos rem para ser consistente entre todas as páginas, e não depender das suas definições "pessoais"
        &_card {
            background-color: $secondary-color;
            border-radius: 1rem;
            box-shadow: 0 10px 25px #00000066;
            width: 95%;
            max-width: 900px; // mesmo tentanto ocupar 95%, nunca pode ser maior que 900px (para não ficar enorme em desktop)
            padding: 1rem;
            @include generic($gap: 3rem);
            color: white;

            @media (min-width: $changing-point) {
                flex-direction: row; // desktop
            }

            img {
                width: 15rem;
                height: auto;
                border-radius: 1rem;
                object-fit: cover;

                // desktop
                @media (min-width: $changing-point) {
                    width: 25rem;
                }
            }

            &_text {
                width: 100%;
            }
        }
    }
}

