// Páginas pessoais

.personal-page {
    min-height: 100vh;
    background-color: $background-color;
    @include generic; //o espaço entre os h1 e os restantes elementos vem de margin-top e margin-bottom
    color: white;

    // Conteúdo principal da página
    &_content {
        @include generic;
        color: white;

        // Card que contém imagem e informações pessoais
        &_card {
            background-color: $secondary-color;
            border-radius: 1rem;
            box-shadow: 0 10px 25px #00000066;
            width: 95%;
            max-width: 900px; // mesmo tentanto ocupar 95%, nunca pode ser maior que 900px 
            padding: 1rem;
            @include generic($gap: 3rem);
            color: white;
            margin-bottom: 2rem;

            // Em desktop temos uma disposição diferente
            @media (min-width: $main-changing-point) {
                flex-direction: row; 
            }

            img {
                width: 15rem;
                height: auto;
                border-radius: 1rem;
                object-fit: cover;

                // Aumenta tamanho da imagem no desktop
                @media (min-width: $main-changing-point) {
                    width: 25rem;
                }
            }

            // Texto do card (informações pessoais)
            &_text {
                width: 100%;
            }
        }
    }
}
